<?xml version="1.0" encoding="x-windows-949"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/oil/Oil"
			class = "org.xtext.example.oil.oil.OilPackage"
			genModel = "model/generated/Oil.genmodel" />
	</extension>
</plugin>
